<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <system.serviceModel>
    <client>
      <!--kukala vam mater za ovaj servis-->  
      <endpoint name="ServiceA"
                address="net.tcp://localhost:8001/Service"
                binding="netTcpBinding"
                contract="DataBase.IDatabaseManagement">        
      </endpoint>
      <!--a bogme i za ovaj sekundarni-->
      <endpoint name="ServiceB"
                address="net.tcp://localhost:8002/Service"
                binding="netTcpBinding"
                contract="DataBase.IDatabaseManagement">
        
      </endpoint>
    </client>
    
  </system.serviceModel>
  
</configuration>